In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
import numpy as np

In [5]:
import math

In [6]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [7]:
#Question 1
squared_diff = (q - p) ** 2
sum_squared_diff = squared_diff.sum()
euclidean_distance = math.sqrt(sum_squared_diff)
print(euclidean_distance)

18.16590212458495

In [9]:
#Question 2
df = df[['c', 'b', 'a', 'd', 'e']]
print(df)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [10]:
#Question 3
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

def interchange_columns(df, col1, col2):
    columns = df.columns.tolist() 
    index1, index2 = columns.index(col1), columns.index(col2)
    columns[index1], columns[index2] = columns[index2], columns[index1] 
    df = df[columns] 
    return df

df = interchange_columns(df, 'a', 'c')
print(df)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [11]:
#Question 4
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
pd.options.display.float_format = '{:.4f}'.format
df

   random
0  0.0220
1  0.0008
2  0.2456
3  0.2072

In [32]:
#Question 5 
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1),
columns=list('pqrs'), index=list('abcdefghij'))
df 

def euclidean_distance(row1, row2):
    return np.sqrt(np.sum((row1 - row2) ** 2))

nearest_rows = []
distances = []

for x in range(len(df)):
    min_distance = float('inf')
    nearest_row = None
    
    for y in range(len(df)):
        if x != y:
            distance = euclidean_distance(df.iloc[x], df.iloc[y])
            if distance < min_distance:
                min_distance = distance
                nearest_row = df.index[y]
    
    nearest_rows.append(nearest_row)
    distances.append(min_distance)
    
df['nearest_row'] = nearest_rows
df['dist'] = distances

print(df)

    p   q   r   s nearest_row    dist
a  19  25  87  51           b 37.5899
b  45  16  71  71           a 37.5899
c  73  69  13  60           f 33.6601
d  18  18  30  67           i 48.2183
e  12  76  86  81           j 27.0185
f  95  52   7  42           c 33.6601
g  66   9  60  31           h 40.0625
h  68  35  33  17           g 40.0625
i  38  57  50  65           j 36.4005
j   9  75  62  69           e 27.0185

In [14]:
#Question 6
data = {'A': [45, 37, 0, 42, 50],
        'B': [38, 31, 1, 26, 90],
        'C': [10, 15, -10, 17, 100],
        'D': [60, 99, 15, 23, 56],
        'E': [76, 98, -0.03, 78, 90]}

df = pd.DataFrame(data)
correlation_matrix = df.corr()
print(correlation_matrix)

       A      B      C      D      E
A 1.0000 0.7560 0.6244 0.4938 0.9286
B 0.7560 1.0000 0.9667 0.3636 0.6496
C 0.6244 0.9667 1.0000 0.2189 0.5281
D 0.4938 0.3636 0.2189 1.0000 0.7202
E 0.9286 0.6496 0.5281 0.7202 1.0000